.section-title {
    width: 1336px;
    height: 178px;
    gap: 16px;
    padding-right: 52px;
    padding-left: 52px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.titles {
    display: flex;
    width: 716px;
    height: 92px;
    gap: 4px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 80px auto 16px;
}

.title-p {
    display: flex;
    width: 760px;
    height: 70px;
    font-weight: 400;
    color: #5F6980;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin: 0 auto;
}

.title-h2 {
    font-size: 54px;
    line-height: 62px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #282828;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #282828;
}


.container {
    display: flex;
    width: 1336px;
    margin: 48px auto;
    flex-wrap: wrap;
    align-content: space-between ;
}

.block {
    width: 310px;
    height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #EAECF0;
    padding-bottom: 16px ;
}

.block-img {
    width: 310px;
    height: 230px;

}

.person-img {
    width: 100%;
        overflow: hidden;
}

.block-desc {
    width: 310px;
    height: 168px;
    gap: 24px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 16px 0px;

}

.desc-text {
    display: flex;
    width: 278px;
    height: 108px;
    flex-direction: column;
    margin: 0px auto;

}

.block-title {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 278px;
    height: 56px;
    gap: 4px;
    margin-bottom: 8px;

}

.social-icons {
    display: flex;
    width: 278px;
    height: 36px;
    gap: 24px;
    margin-top: 24px;

}

.round {
  width: 36px;
  height: 36px;
  background-color: #f2f4f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-h3 {
    color: #282828;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.block-h4 {
    font-size: 14px;
    line-height: 22px;
    color: #3E3E59;
    font-weight: 400;
}

.block-p {
    color: #5F6980;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;

}

.row1 {
    display: flex;
    width: 1336px;
    height: 430px;
    gap: 32px;
    margin-bottom: 48px;

}

.row2 {
    display: flex;
    width: 1336px;
    height: 430px;
    gap: 32px;

}
